.header {
  display: flex;
  justify-content: space-between;
  padding: 13px;
}
.img-trello {
  width: 130px;
  height: 40px;
}

.header-right {
  display: flex;
  align-items: center;
}
.btn {
  padding: 0.25rem 0.5rem;
  font-size: 1.09375rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.header-fix {
  position: fixed;
  width: 100%;
}
.measurement-header {
  width: 100%;
  height: 100%;
}

.btn {
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  font-size: 1.25rem;
}
.log-in {
  color: #0065ff !important;
  cursor: pointer;
}

.sign-up {
  background-color: #0065ff !important;
  color: #fff !important;
  cursor: pointer;
  font-size: 18px;
}

@media only screen and (max-width: 1200px) {
  .div-input {
    display: grid;
  }
  .button-sign {
    margin-left: 0px;
    margin-top: 20px;
  }
  .text-features {
    margin-top: -20px;
  }
  .powerups {
    margin-left: 30px;
  }
  .footer-section-lighte-blue {
    width: auto;
    margin-left: inherit;
  }
  .cont-cart-sign-blue {
    width: 85%;
    height: 250px;
  }
  .text-cart-sign-blue {
    width: 694px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .cont-input-sign-blue {
    margin-top: 10%;
  }
  .app-trello {
    margin-right: 7%;
  }
  .appstore {
    width: 127px;
    height: 40px;
  }
  .googleplay {
    width: 127px;
    height: 40px;
  }
  .img-hero {
    height: 517px;
    width: 80.6667%;
  }
  .main-left {
    margin-left: 5%;
  }
  .br-1 {
    display: none;
  }
  .br-2 {
    display: none;
  }
  .image-ebay {
    width: 45%;
  }
  .image-ebay {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .img-hero {
    height: 344px;
    width: 90.6667%;
  }
  .br-3 {
    display: none;
  }
  .text-join {
    text-align: center;
    font-size: 22px;
    word-spacing: 10px;
  }
  .flex-left {
    display: flex;
    width: 90%;
    justify-content: flex-start;
  }
  .container-cont-main-2 {
    width: 80%;
  }
  h2 {
    font-size: 2rem;
  }
  .br-6 {
    display: none;
  }
  #svg {
    width: 937px !important;
  }
  .container-cont-main-3 {
    width: 87%;
  }
  .container-cont-main-4 {
    width: 85%;
  }
  .container-cont-main-5 {
    width: 83%;
  }
  .cont-carts {
    width: 85%;
  }
  .image-ebay {
    width: 45%;
  }
  .image-ebay {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  .br-2 {
    display: none;
  }

  .flex-left {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
  }
  .br-7 {
    display: none;
  }
  .cont-main-1 {
    margin-top: 20px;
  }
  .cont-image {
    width: 62%;
  }
  .columm-5 {
    padding-left: 60px;
  }
  .columm-4 {
    padding-left: 60px;
  }
  .columm-3 {
    padding-left: 60px;
  }
  .columm-2 {
    padding-left: 60px;
  }
  .img-hero {
    display: none;
  }
  .div-input {
    display: flex;
    align-items: baseline;
    margin-top: 0;
  }
  .button-sign {
    margin-left: 25px;
    width: 301px;
  }
  .main-left {
    margin-top: 55px;
  }
  .mark-down {
    text-align: center;
    margin-top: 200px;
    width: 73%;
    margin-top: 190px;
  }
  .img-board {
    width: 710px;
  }
  .text-join {
    text-align: center;
    font-size: 19px;
    word-spacing: 0px;
  }
  .cyberspace {
    width: 198px;
    height: 38px;
    margin-left: 22px;
  }
  .app-trello {
    display: contents;
    align-items: center;
    justify-content: end;
    margin-right: 470px;
  }
  .img-app-trello {
    display: flex;
    justify-content: center;
  }
  .appstore {
    width: 170px;
    height: 50px;
    margin-right: 6px;
  }
  .googleplay {
    width: 170px;
    height: 50px;
  }
  .footer-down {
    display: none;
  }
  .trello {
    display: none;
  }
  .text-app-trello {
    text-align: center;
    color: rgb(40 42 44);
  }
  .row {
    display: none;
  }
  .footer {
    word-spacing: 8px;
    margin-top: 14px;
  }
  .atlass {
    width: 35%;
  }
  .none {
    display: flex;
    flex-direction: column;
  }
  .justify {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .footer-top {
    background: white;
  }
  hr {
    margin-bottom: -15px;
  }
  .text-level {
    padding-top: 25px;
  }
  .container-main {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .cont-cart-sign-blue {
    width: 70%;
    height: 250px;
    background: #eae6ff;
    background-image: url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/spirit/sign-up/95ae6a1…/background.svg),
      linear-gradient(0deg, #4c9aff, #403294 100%);
    background-position: center top;
    background-size: cover;
    border-radius: 8px;
    color: #fff;
  }
  .text-cart-sign-blue {
    width: 455px;
  }
  .image-ebay {
    width: 45%;
  }
  .image-ebay {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .br-2 {
    display: none;
  }
  .input-email {
    display: none;
  }
  .div-input {
    display: flex;
    align-items: baseline;
    margin-top: 0;
    justify-content: center;
  }
  .button-sign {
    width: 85%;
  }
  .dis-trello {
    font-size: 20px;
    margin-top: 14px;
    text-align: center;
  }
  .button-sign {
    margin-left: 0px;
    margin-top: 70px;
    border-radius: 6px;
    margin-top: 36px;
  }
  .Important-text {
    font-size: 40px;
    text-align: center;
  }
  .mark-down {
    margin-top: 90px;
  }
  .img-board {
    width: 510px;
  }
  .text-join {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .cont-icons {
    width: 68%;
  }
  p {
    color: rgb(0, 0, 0);
  }
  .cont-main-2 {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
  }
  #svg {
    height: 360px;
  }
  .cont-main-3 {
    display: flex;
    margin-top: 100px;
    flex-direction: column-reverse;
  }
  .cont-text-image-two {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .cardbacck {
    width: 392px;
    height: 323px;
  }
  .cont-main-4 {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
  }
  .automation {
    width: 510px;
    height: 408px;
  }
  .cont-main-5 {
    display: flex;
    margin-top: 100px;
    border-bottom: #b3a4a4ad 1px solid;
    padding-bottom: 50px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .Compass {
    display: none;
  }
  .tag {
    display: none;
  }
  .cont-carts {
    display: flex;
    margin-top: 30px;
    border-bottom: #b3a4a4ad 1px solid;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: baseline;
  }
  .carts-right {
    display: flex;
    margin-left: 0px;
  }
  .btn-start-2 {
    align-items: center;
    border-radius: 0.3rem;
    cursor: pointer;
    display: inline-flex;
    transition: all 250ms ease-out 0s;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgb(0, 101, 255);
    color: rgb(0, 101, 255);
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1.6rem 0.5rem;
  }
  .vr-8 {
    display: none;
  }
  .input-sign-blue {
    display: none;
  }
  .cont-input-sign-blue {
    margin: 0px;
  }
  .button-sign-blue {
    width: 95%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background-color: #00b8d9;
  }
  .cont-cart-sign-blue {
    width: 65%;
    height: 215px;
  }
  .appstore {
    width: 251px;
    height: 74px;
  }
  .googleplay {
    width: 251px;
    height: 74px;
  }
  .image-ebay {
    width: 45%;
  }
  .image-ebay {
    display: none;
  }
}
