.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main {
  display: flex;
  align-items: center;
}
.Important-text {
  font-size: 48px;
}
.dis-trello {
  font-size: 20px;
  margin-top: 14px;
}
.div-input {
  display: flex;
  align-items: center;
  align-items: flex-start;
  margin-top: 60px;
}
.input-email {
  padding: 6px 12px;
  color: #495057;
  border-radius: 4px;
  border: 1px solid #d4dde5;
  width: 335px;
  height: 30px;
  font-size: 20px;
}

.button-sign {
  height: 44px;
  width: 201px;
  border-radius: 4px;
  margin-left: 14px;
  color: #fff;
  background-color: #0065ff;
  border-color: #0065ff;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-right {
  margin-left: 64px;
  margin-top: 20px;
}

.img-hero {
  width: 445px;
  height: 575px;
}
.mark-down {
  text-align: center;
  margin-top: 100px;
}
.mark-down-first {
  font-size: 21px;
}
.flex {
  display: flex;
  justify-content: center;
}
.btn-start {
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-flex;
  transition: all 250ms ease-out 0s;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgb(0, 101, 255);
  color: rgb(0, 101, 255);
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.4rem 1.5rem 0.5rem;
  padding: 10px 32px;
}
.btn-start:hover {
  color: #fff;
  background-color: #0065ff !important;
  border-color: #0065ff !important;
}
.img-board {
  margin-top: 30px;
}
.text-join {
  text-align: center;
  font-size: 20px;
}
.cont-icons {
  display: flex;
  align-items: center;
  padding: 0px 270px;
}
.text-features {
  font-size: 22px;
}
.cont-main-2 {
  display: flex;
  margin-top: 100px;
}
.cont-main-2-right {
  margin-left: 60px;
}
.cardbacck {
  width: 339px;
  height: 275px;
  margin-left: 170px;
}
.cont-main-4 {
  display: flex;
  margin-top: 100px;
}
.automation {
  width: 443px;
  height: 334px;
}
.cont-main-5 {
  display: flex;
  margin-top: 100px;
  border-bottom: #b3a4a4ad 1px solid;
  padding-bottom: 50px;
}
.powerups {
  width: 376px;
  height: 339px;
  margin-left: 170px;
}
.cont-carts {
  display: flex;
  margin-top: 30px;
  border-bottom: #b3a4a4ad 1px solid;
  padding-bottom: 50px;
}
.carts-left {
  display: flex;
}
.dis-carts-left {
  margin-left: 70px;
}
.btn-start-2 {
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-flex;
  transition: all 250ms ease-out 0s;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgb(0, 101, 255);
  color: rgb(0, 101, 255);
  text-decoration: none;
  font-size: 1rem;
  padding: 0.4rem 1rem 0.5rem;
}
.carts-right {
  display: flex;
  margin-left: 50px;
}
.cont-cart-sign {
  width: auto;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1200px) {
  .div-input {
    display: grid;
  }
  .button-sign {
    margin-left: 0px;
    margin-top: 20px;
  }
  .text-features {
    margin-top: -20px;
  }
  .powerups {
    margin-left: 30px;
  }
  .footer-section-lighte-blue {
    width: auto;
    margin-left: inherit;
  }
  .cont-cart-sign-blue {
    width: 85%;
    height: 250px;
  }
  .text-cart-sign-blue {
    width: 694px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .cont-input-sign-blue {
    margin-top: 10%;
  }
  .app-trello {
    margin-right: 7%;
  }
  .appstore {
    width: 127px;
    height: 40px;
  }
  .googleplay {
    width: 127px;
    height: 40px;
  }
  .img-hero {
    height: 517px;
    width: 80.6667%;
  }
  .main-left {
    margin-left: 5%;
  }
  .br-1 {
    display: none;
  }
  .br-2 {
    display: none;
  }
  .image-ebay {
    width: 45%;
  }
  .image-ebay {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .img-hero {
    height: 344px;
    width: 90.6667%;
  }
  .br-3 {
    display: none;
  }
  .text-join {
    text-align: center;
    font-size: 22px;
    word-spacing: 10px;
  }
  .flex-left {
    display: flex;
    width: 90%;
    justify-content: flex-start;
  }
  .container-cont-main-2 {
    width: 80%;
  }
  h2 {
    font-size: 2rem;
  }
  .br-6 {
    display: none;
  }
  #svg {
    width: 937px !important;
  }
  .container-cont-main-3 {
    width: 87%;
  }
  .container-cont-main-4 {
    width: 85%;
  }
  .container-cont-main-5 {
    width: 83%;
  }
  .cont-carts {
    width: 85%;
  }
  .image-ebay {
    width: 45%;
  }
  .image-ebay {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  .br-2 {
    display: none;
  }

  .flex-left {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
  }
  .br-7 {
    display: none;
  }
  .cont-main-1 {
    margin-top: 20px;
  }
  .cont-image {
    width: 62%;
  }
  .columm-5 {
    padding-left: 60px;
  }
  .columm-4 {
    padding-left: 60px;
  }
  .columm-3 {
    padding-left: 60px;
  }
  .columm-2 {
    padding-left: 60px;
  }
  .img-hero {
    display: none;
  }
  .div-input {
    display: flex;
    align-items: baseline;
    margin-top: 0;
  }
  .button-sign {
    margin-left: 25px;
    width: 301px;
  }
  .main-left {
    margin-top: 55px;
  }
  .mark-down {
    text-align: center;
    margin-top: 200px;
    width: 73%;
    margin-top: 190px;
  }
  .img-board {
    width: 710px;
  }
  .text-join {
    text-align: center;
    font-size: 19px;
    word-spacing: 0px;
  }
  .cyberspace {
    width: 198px;
    height: 38px;
    margin-left: 22px;
  }
  .app-trello {
    display: contents;
    align-items: center;
    justify-content: end;
    margin-right: 470px;
  }
  .img-app-trello {
    display: flex;
    justify-content: center;
  }
  .appstore {
    width: 170px;
    height: 50px;
    margin-right: 6px;
  }
  .googleplay {
    width: 170px;
    height: 50px;
  }
  .footer-down {
    display: none;
  }
  .trello {
    display: none;
  }
  .text-app-trello {
    text-align: center;
    color: rgb(40 42 44);
  }
  .row {
    display: none;
  }
  .footer {
    word-spacing: 8px;
    margin-top: 14px;
  }
  .atlass {
    width: 35%;
  }
  .none {
    display: flex;
    flex-direction: column;
  }
  .justify {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .footer-top {
    background: white;
  }
  hr {
    margin-bottom: -15px;
  }
  .text-level {
    padding-top: 25px;
  }
  .container-main {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .cont-cart-sign-blue {
    width: 70%;
    height: 250px;
    background: #eae6ff;
    background-image: url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/spirit/sign-up/95ae6a1…/background.svg),
      linear-gradient(0deg, #4c9aff, #403294 100%);
    background-position: center top;
    background-size: cover;
    border-radius: 8px;
    color: #fff;
  }
  .text-cart-sign-blue {
    width: 455px;
  }
  .image-ebay {
    width: 45%;
  }
  .image-ebay {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .br-2 {
    display: none;
  }
  .input-email {
    display: none;
  }
  .div-input {
    display: flex;
    align-items: baseline;
    margin-top: 0;
    justify-content: center;
  }
  .button-sign {
    width: 85%;
  }
  .dis-trello {
    font-size: 20px;
    margin-top: 14px;
    text-align: center;
  }
  .button-sign {
    margin-left: 0px;
    margin-top: 70px;
    border-radius: 6px;
    margin-top: 36px;
  }
  .Important-text {
    font-size: 40px;
    text-align: center;
  }
  .mark-down {
    margin-top: 90px;
  }
  .img-board {
    width: 510px;
  }
  .text-join {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .cont-icons {
    width: 68%;
  }
  p {
    color: rgb(0, 0, 0);
  }
  .cont-main-2 {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
  }
  #svg {
    height: 360px;
  }
  .cont-main-3 {
    display: flex;
    margin-top: 100px;
    flex-direction: column-reverse;
  }
  .cont-text-image-two {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .cardbacck {
    width: 392px;
    height: 323px;
  }
  .cont-main-4 {
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
  }
  .automation {
    width: 510px;
    height: 408px;
  }
  .cont-main-5 {
    display: flex;
    margin-top: 100px;
    border-bottom: #b3a4a4ad 1px solid;
    padding-bottom: 50px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .Compass {
    display: none;
  }
  .tag {
    display: none;
  }
  .cont-carts {
    display: flex;
    margin-top: 30px;
    border-bottom: #b3a4a4ad 1px solid;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: baseline;
  }
  .carts-right {
    display: flex;
    margin-left: 0px;
  }
  .btn-start-2 {
    align-items: center;
    border-radius: 0.3rem;
    cursor: pointer;
    display: inline-flex;
    transition: all 250ms ease-out 0s;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgb(0, 101, 255);
    color: rgb(0, 101, 255);
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1.6rem 0.5rem;
  }
  .vr-8 {
    display: none;
  }
  .input-sign-blue {
    display: none;
  }
  .cont-input-sign-blue {
    margin: 0px;
  }
  .button-sign-blue {
    width: 95%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background-color: #00b8d9;
  }
  .cont-cart-sign-blue {
    width: 65%;
    height: 215px;
  }
  .appstore {
    width: 251px;
    height: 74px;
  }
  .googleplay {
    width: 251px;
    height: 74px;
  }
  .image-ebay {
    width: 45%;
  }
  .image-ebay {
    display: none;
  }
  .cont-main-2 {
    display: flex;
    margin-top: -272px;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 640px) {
  .br-2 {
    display: none;
  }
  .main {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .img-board {
    width: 90%;
  }
  .cont-icons {
    width: 90%;
  }
  .br-7 {
    display: none;
  }
  h2 {
    font-size: 1.5rem;
  }

  .text-features {
    font-size: 19px;
    margin-top: -10px;
  }
  #svg {
    height: 340px;
  }
  .cont-main-2-right {
    margin-left: 0px;
  }
  .cardbacck {
    margin-left: 0px;
  }
  .cardbacck {
    width: 164%;
    height: 100%;
  }
  .powerups {
    width: 104%;
    height: 100%;
  }
  .dis-carts-left {
    margin-left: 0px;
  }
  .footer-section-lighte-blue {
    display: none;
    text-align: center;
  }
  .image-ebay {
    width: 45%;
  }
  .section-lighte-blue {
    height: 575px;
    background: rgb(230, 252, 255);
    color: rgb(9, 30, 66);
    margin-top: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-section-lighte-blue {
    text-align: center;
  }
  .cont-cart-sign-blue {
    width: 95%;
    height: 215px;
  }
  .text-cart-sign-blue {
    width: 460px;
    font-size: 20px;
  }
  .googleplay {
    width: 231px;
    height: 65px;
  }
  .appstore {
    width: 231px;
    height: 65px;
    margin-left: 0px;
  }
  .atlass {
    width: 57%;
  }
  .image-ebay {
    display: block;
  }
  .Important-text {
    margin-top: -13px;
  }
  html {
    width: 130%;
  }
  .cont-cart-sign-blue {
    width: 98% !important;
    height: 215px;
  }
}
